/*START HEADER*/
li {
	color: white;
}

hr {
	margin: 7.5px;
}

.navbar-header, .container-fluid .navbar-collapse {
	background-color: black;
	margin-left: -15px;
	margin-right: -15px;
}

.navbar-header .navbar-brand {
	color: white;
}
/*END HEADER*/


/*START CONTENT*/
h2 {
	margin-bottom: 30px;
}

#section-title {
	display: block;
	font-weight: bold;
	padding: 10px;
	font-size: 1.2em;
}

#tall-element {
	background-color: black;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	min-height: 3000px;
}

p {
	text-indent: 50px;
}
/*START CONTENT*/